 /* Scroll bar */
 ::-webkit-scrollbar {
  width: 0.7rem;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  }
 
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
 
/* for Firefox */
 html {scrollbar-color: #9e4673 #3d4a59;} 

 html {scroll-behavior: smooth;}

 .arrowUp{
  display: none;
  transition:1s ease;
  justify-content: center;
  align-items: center;
  color:white ;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid white;
  background-color: black;
  font-size: 2em;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition:1s ease;
  -moz-transition:1s ease;
  -ms-transition:1s ease;
  -o-transition:1s ease;
}
@media only screen and (max-width: 500px) {
.arrowUp{
  
  width: 30px;
  height: 30px;
  bottom: 30px;
  right: 30px;

}
.fa-arrow-up{
  font-size: .5em;
}
.container{
  padding: 0 20px ;
  
}
.col-md-2{
  border-radius: 20px !important;
  margin: 5px 0;
  padding: 0 5px;
}
.quran-main{
  border-radius: 20px;
  margin: 20px 10px 0;
}
}
/* footer */
.footer{
  
 border: 1px solid rgb(95, 91, 91) ;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
}

/* main */
.sora-main{
  cursor: pointer;
  
}
.sora-main:hover,.name-quran:hover{
  background: #8a8787;

}
.name-quran{
  border-radius: 20px;
  cursor: pointer;
  align-items: center;

}